button {
  outline: none;
}
.gallery-box {
  max-width: 800px;
  position: relative;
  margin: 0 auto 30px;
  @include media('<desktop') {
    margin: 0 auto 10px;
  }
  .holder {
    position: relative;
    overflow: hidden;
  }
  &.carousel {
    &.has-animation {
      .holder {
        ul {
          @include animate(margin transition);
        }
      }
    }
    .holder {
      ul {
        @extend %listreset;
        overflow: hidden;
        position: relative;
        width: 9999px;
        li {
          float: left;
          width: 800px;
        }
        img {
          display: block;
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
  &.fade {
    .holder {
      ul {
        @extend %listreset;
        position: relative;
        li {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          @include animate(opacity);
          &.active {
            position: relative;
            opacity: 1;
          }
        }
        img {
          display: block;
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    display: block;
    background: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 30px;
    line-height: 60px;
    padding: 0;
    transform: translate(0, -50%);
    @include media('<desktop') {
      display: none;
    }
    &:hover {
      background: rgba(0,0,0,1);
    }
  }
  .btn-prev {
    left: 15px;
  }
  .btn-next {
    right: 15px;
  }
  .swither {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 15px;
    @extend %listreset;
    text-align: center;
    li {
      margin: 0 4px;
      display: inline-block;
      vertical-align: top;
      &.active {
        button {
          background: red;
        }
      }
    }
    button {
      font-size: 0;
      line-height: 0;
      text-indent: -9999px;
      overflow: hidden;
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 50%;
      background: rgba(0,0,0,0.4);
      border: none;
      @include animate(background);
      &:hover {
        background: red;
      }
    }
  }
}